/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.main {
  padding: 24px 16px;
  background-color: yellow;
}

.notifications {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  & .title {
    color: var(--very-dark-blue);
    font-weight: 800;
    font-size: 1.25em;
    word-spacing: 9px;
  }

  & .number {
    background-color: var(--blue);
    color: var(--white);
    display: inline-block;
    width: 32px;
    height: 25px;
    text-align: center;
    align-content: center;
    /* border-radius: 6px; */
  }

  & .mark {
    color: var(--dark-grayish-blue);
    font-size: 0.875em;
    /* 14px */
    font-weight: 500;
    cursor: pointer;

    &:hover {
      color: var(--blue);
    }
  }
}

.post {
  background-color: var(--white);
  box-shadow: 0px 5px 10px -5px #000000;
  /* border-radius: 8px; */
  display: flex;
  gap: 13px;
  max-width: 343px;
  padding: 16px;
  font-size: 0.875em;
  cursor: pointer;
  margin: 0 auto 10px;
  color: var(--dark-grayish-blue);
  position: relative;

  & .image {
    width: 39px;
    height: 39px;
  }

  & .name {
    font-weight: bold;
    color: var(--very-dark-blue);

    &:hover {
      color: var(--blue);
    }
  }

  & .reaction {
    font-weight: bold;

    &:hover {
      color: var(--blue);
    }
  }

  & .time {
    color: var(--grayish-blue);
    font-size: 0.875em;
    font-weight: 500;
  }

  & .group {
    color: var(--blue);
    font-weight: bold;
  }

  & .message-container {
    border: 1px solid var(--light-grayish-blue-2);
    border-radius: 5px;
    padding: 16px;
    margin-top: 12px;

    &:hover {
      background-color: var(--light-grayish-blue-1);
    }
  }

  & .picture {
    width: 39px;
    height: 39px;
    position: absolute;
    right: 16px;
  }
}

.not-read {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
  background-color: var(--red);
}